main {
    padding-left: 10rem;
    padding-right: 10rem;
}

.bx--content {
    padding-top: 3rem;
}

.app-component--input {
    padding-top: 5rem;
    padding-bottom: 2rem;
}

.app-component--button {
    padding-bottom: 1rem;
}